<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <style>
        body {
            background-image: url("https://tse1.mm.bing.net/th?id=OIP.95U_TLp_aXeWRRiqS-ziWwHaEK&pid=Api&P=0&h=180");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <center>
    <h1>Enter Values</h1>
    <form action="/form" method="post">
        <label for="x">X Values (comma-separated,independent ,represent continuous variable):</label>
        <input type="text" name="x" id="x"><br>

        <label for="y">Y Values (comma-separated,dependent,compare based on the corresponding x values.):</label>
        <input type="text" name="y" id="y"><br>

        <input type="submit" value="Submit">
    </form>
    </center>
</body>
</html>
